@model BeEntity.BeTipoNovedad

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-body" id="container" style="width:unset">
    <div class="panel-heading" style="text-align:center">
        <br />
        <h4 class="fa fa-edit"><strong> Editar Tipo Novedad </strong></h4>
    </div>
    <hr />
    <div class="container body-content">
    
        <div>
            @using (Html.BeginForm())
            {
                <div>
                    @Html.Partial("OptionsBox/Save_Back", Model.ID)
                </div>
                <br />
                <br />
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.EstatusID, "Estatus", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model=> model.EstatusID, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EstatusID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>


            }
        </div>
    </div>
    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
